body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

.upload-card {
  width: 50rem;
  height: 25rem;
  margin: 0;
  padding: 0 5rem;
}

.upload-header {
  margin: 2rem 0 0 0;
  padding: 0;
  color: #0cb8cf;
  text-align: left;
}
.upload-text {
  margin: 3rem 0 0 0;
  padding: 0;
  color: white;
  text-align: left;
}

.upload-form {
  width: 44rem;
  margin: 5rem 0 0 0;
}
@media (max-width: 575.98px) {
  .upload-card {
    height: 65vh;
    width: 30rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .upload-header {
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .upload-text {
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .upload-form {
    width: 60vw;
    margin: 5rem 0 0;
    align-self: center;
  }

  .upload-button {
    align-self: center;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .upload-card {
    height: 65vh;
    width: 30rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .upload-header {
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .upload-text {
    margin: 2rem 0 0 0;
    text-align: center;
  }
  .upload-form {
    width: 25rem;
    margin: 5rem 0 0;
    align-self: center;
  }
  .upload-button {
    align-self: center;
  }
}
@media (max-width: 1200px) {
  .navbar-title-col {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .navbar-title {
    display: inline-block;
  }
  .intro-heading {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #0cb8cf;
    font-size: 4rem;
  }
  .intro-text {
    margin: 3rem 0 4rem 0;
    text-align: center;
    color: white;
  }
  .music-image {
    display: none;
  }
  .create-button {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .intro-heading {
    margin: 0;
    padding: 0 0 0 5rem;
    text-align: left;
    color: #0cb8cf;
    font-size: 4rem;
  }
  .intro-text {
    margin: 3rem 0 4rem 0;
    padding: 0 0 0 5rem;
    text-align: left;
    color: white;
  }

  .create-button {
    padding: 0 0 0 5rem;
  }

  .music-image {
    max-width: 100%;
    height: auto;
    padding: 0 1rem 0 5rem;
  }
}

.mt-6 {
  margin-top: 3rem;
}

.mt-10 {
  margin-top: 10rem;
}

.max-width-100 {
  max-width: 100vw;
}

.max-height-100 {
  height: 100vh;
}

.width-50 {
  width: 30% !important;
}

.h-100 {
  height: 100%;
}

.w-7rem {
  width: 7rem;
}

.w-20rem {
  width: 20rem;
}

.stem-card {
  width: 25rem;
  height: 15rem;
}

.template-card {
  max-width: 345px;
  max-height: 72rem;
}

.decoration-none,
.decoration-none:hover {
  text-decoration: none;
}

.bgcolor {
  background-color: #022226;
}

.h-10 {
  height: 10vh;
}

.h-90 {
  height: 90vh;
}

.upload-button-enabled {
  background-color: red;
  color: red;
}
.upload-button-disabled {
  background-color: yellow;
  color: red;
}

.mt-69 {
  margin-top: 12rem;
}

.card-image {
  height: 10rem;
}
