body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  width: 100%;
  text-align: center;
}

.mt-6 {
  margin-top: 3rem;
}
.mt-10 {
  margin-top: 10rem;
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}

.w-7rem {
  width: 7rem;
}

.upload-card {
  width: 50rem;
  height: 23rem;
}

.stem-card {
  width: 23rem;
  height: 25rem;
}
