body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
}

* {
  text-align: center;
}

.mt-6 {
  margin-top: 3rem;
}

.mt-10 {
  margin-top: 10rem;
}

.max-width-100 {
  max-width: 100vw;
}

.max-height-100 {
  height: 100vh;
}

.width-50 {
  width: 30% !important;
}

.w-7rem {
  width: 7rem;
}

.w-20rem {
  width: 20rem;
}

.upload-card {
  width: 50rem;
  height: 23rem;
}

.stem-card {
  width: 23rem;
  height: 20rem;
}

.template-card {
  max-width: 345px;
  max-height: 72rem;
}

.decoration-none {
  text-decoration: none;
}

.decoration-none:hover {
  text-decoration: none;
}

.bgcolor {
  background-color: #022226;
}

.h-10 {
  height: 10vh;
}

.h-90 {
  height: 90vh;
}

.upload-form {
  width: 30rem;
}
